@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error. @Model.Exception.Message</h1>
<h2 class="text-danger">An error occurred while processing your request. Please contact your administrator.</h2>

@Html.ActionLink("back", Model.ActionName, Model.ControllerName)